.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title{
    text-align: center;
  }
  
  .elementWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .input-field{
    border: 2px solid gray;
    border-radius: 8px;
    text-align: center;
    padding: 0.3em;
    margin-bottom: 1em;
  }
  
  .btn{
    border: 2px solid gray;
    border-radius: 8px;
    padding: 0.3em;
    /* width:min-content; */
  }
  
  .btn:hover{
    cursor: pointer;
  }